doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    title Vaihda salasana
    
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/login.css')
    
    script(src='/libs/fullcalendar/lib/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    script(src='/script/setpass.js')
  body
    div(class='container')
    
      div(class='panel panel-default')
        div(class='panel-heading') 
          h1 
            span(class='glyphicon glyphicon-lock')
            | &nbsp;Vaihda salasanasi
        div(class='panel-body')
          form(role='form', action='/setpass', method='post')
            div(class='form-group')
              label(for='changePasswordInput1') Uusi salasana
              div(class='input-group')
                span(class='input-group-addon glyphicon glyphicon-user')
                input(name='pass' type='password', class='form-control', id='changePasswordInput1', placeholder='')
            div(class='form-group')
              label(for='changePasswordInput2') Toista salasana
              div(class='input-group')
                span(class='input-group-addon glyphicon glyphicon-lock')
                input(name='pass2', type='password', class='form-control', id='changePasswordInput2', placeholder='')
            button(id='changePasswordBtn', disabled='disabled', class='btn btn-warning btn-lg') Vaihda salasana 
  